*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  line-height: calc(1em + 0.5rem);
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}

input, textarea, button, select {
  font: inherit;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

li {
  list-style: none;
}

p, li {
  text-wrap: pretty;
}

a {
  text-decoration: none;
}

body {
  min-height: 100vh;
}

fieldset {
  border: none;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fafafa;
  display: grid;
  row-gap: 1rem;
  grid-auto-columns: 1fr;
  grid-template-areas: "header header header" "main main main" "aside aside aside" "footer footer footer";
  width: min(75rem, 100% - 1rem);
  margin-inline: auto;
  margin-block: 2.5rem 10rem;
}
body a {
  color: #262626;
}
body .space-right {
  margin-right: 1rem;
}
body .next-link {
  color: #551A8B;
}
body .review-article {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 1px solid #d1d5db;
  border-radius: 2rem;
  padding: 1rem;
  background-color: #f3f4f6;
}
body header {
  grid-area: header;
}
body header h1 {
  font-size: 2.5rem;
  margin-inline: 2rem;
}
body header .header-nav {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-items: center;
  gap: 1rem;
}
@media only screen and (min-width: 640px) {
  body header .header-nav {
    flex-direction: row;
  }
}
body header .header-nav .search-bar {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: min(16rem, 100%);
  border: 1px solid #262626;
  border-radius: 100vh;
  padding: 0.1rem 0.5rem;
  background-color: #f8fafc;
}
body header .header-nav .search-bar .search-input {
  display: inline-block;
  border: none;
  border-radius: 100vh;
  outline: none;
  width: 100%;
  padding: 0.1rem 0.5em;
  margin-right: auto;
  background-color: #f8fafc;
}
body header .header-nav .search-bar .search-submit {
  display: inline-block;
  border: none;
  border-radius: 100vh;
  background: none;
  background-color: #f8fafc;
  cursor: pointer;
  padding: 0.1rem 0.5em;
  margin-left: auto;
}
body header .header-nav .nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
body header .header-nav .nav-list:nth-of-type(1), body header .header-nav .nav-list:nth-of-type(2) {
  flex-direction: column;
}
@media only screen and (min-width: 640px) {
  body header .header-nav .nav-list:nth-of-type(1), body header .header-nav .nav-list:nth-of-type(2) {
    flex-direction: row;
  }
}
@media only screen and (min-width: 768px) {
  body header .header-nav .nav-list:nth-of-type(1), body header .header-nav .nav-list:nth-of-type(3) {
    margin-left: auto;
  }
}
body main {
  grid-area: main;
}
body main h2 {
  margin-block: 1.5rem;
}
body main .front-section {
  margin-block: 2.5rem;
}
body main .main-banner-area {
  position: relative;
}
body main .main-banner-area .slider-button {
  position: absolute;
  top: 50%;
  min-width: 3rem;
  min-height: 3rem;
  opacity: 0.7;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  border: none;
  border-radius: 100vh;
  padding: 0.5rem 1rem;
  min-height: 3rem;
  background-color: #f8fafc;
  color: #262626;
  cursor: pointer;
}
body main .main-banner-area .slider-button:hover {
  background: #d1d5db;
}
body main .main-banner-area .slider-button:nth-of-type(1) {
  left: 1rem;
}
body main .main-banner-area .slider-button:nth-of-type(2) {
  right: 1rem;
}
body main .main-banner-area .banner-grid-container .banner {
  padding-block: 10rem;
  padding-inline: 2rem;
  margin-block: 0;
  border-radius: 2rem;
  display: none;
}
body main .main-banner-area .banner-grid-container .banner:nth-of-type(1) {
  background-color: #581c87;
  background-image: url("../images/sunset-8113697_1280.jpg");
  background-size: cover;
  background-position: center;
  background-blend-mode: lighten;
  display: block;
  text-align: end;
}
body main .main-banner-area .banner-grid-container .banner:nth-of-type(1) h2, body main .main-banner-area .banner-grid-container .banner:nth-of-type(1) p {
  max-width: 40ch;
  margin-inline: auto 0;
}
body main .main-banner-area .banner-grid-container .banner button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  border: none;
  border-radius: 100vh;
  padding: 0.5rem 1rem;
  min-height: 3rem;
  background-color: #f8fafc;
  color: #262626;
  cursor: pointer;
  margin-top: 1rem;
}
body main .main-banner-area .banner-grid-container .banner button:hover {
  background: #d1d5db;
}
@media only screen and (min-width: 640px) {
  body main .main-banner-area .banner-grid-container .banner {
    margin-top: 2.5rem;
  }
  body main .main-banner-area .banner-grid-container .banner:nth-of-type(2) {
    background-color: #78350f;
    background-image: url("../images/landscape-7115513_1280.jpg");
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten;
    display: block;
    text-align: start;
  }
  body main .main-banner-area .banner-grid-container .banner:nth-of-type(2) h2, body main .main-banner-area .banner-grid-container .banner:nth-of-type(2) p {
    max-width: 40ch;
    margin-inline: 0 auto;
  }
  body main .main-banner-area .banner-grid-container .banner:nth-of-type(3) {
    background-color: #1e3a8a;
    background-image: url("../images/sand-6667422_1280.jpg");
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten;
    display: block;
    text-align: start;
  }
  body main .main-banner-area .banner-grid-container .banner:nth-of-type(3) h2, body main .main-banner-area .banner-grid-container .banner:nth-of-type(3) p {
    max-width: 40ch;
    margin-inline: 0 auto;
  }
}
@media only screen and (min-width: 640px) {
  body main .main-banner-area .banner-grid-container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    gap: 1rem;
    overflow-x: scroll;
  }
}
body main .popular-categories {
  text-align: center;
}
body main .popular-categories .grid-container {
  margin-top: 3rem;
  display: grid;
  gap: 1rem;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-areas: "one" "two" "three" "four" "five";
}
body main .popular-categories .grid-container .categories-article {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 8rem;
}
body main .popular-categories .grid-container .categories-article:nth-of-type(1) {
  grid-area: one;
}
body main .popular-categories .grid-container .categories-article:nth-of-type(1)::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background-image: url("../images/citroen-2412210_1280.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 2rem;
  opacity: 0.7;
}
body main .popular-categories .grid-container .categories-article:nth-of-type(2) {
  grid-area: two;
}
body main .popular-categories .grid-container .categories-article:nth-of-type(2)::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background-image: url("../images/clock-931027_1280.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 2rem;
  opacity: 0.7;
}
body main .popular-categories .grid-container .categories-article:nth-of-type(3) {
  grid-area: three;
}
body main .popular-categories .grid-container .categories-article:nth-of-type(3)::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background-image: url("../images/corkscrew-5020342_1280.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 2rem;
  opacity: 0.7;
}
body main .popular-categories .grid-container .categories-article:nth-of-type(4) {
  grid-area: four;
}
body main .popular-categories .grid-container .categories-article:nth-of-type(4)::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background-image: url("../images/keychain-5010429_1280.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 2rem;
  opacity: 0.7;
}
body main .popular-categories .grid-container .categories-article:nth-of-type(5) {
  grid-area: five;
}
body main .popular-categories .grid-container .categories-article:nth-of-type(5)::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background-image: url("../images/old-camera-6400520_1280.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 2rem;
  opacity: 0.7;
}
body main .popular-categories .grid-container .categories-article h3 {
  color: #f8fafc;
}
@media only screen and (min-width: 768px) {
  body main .popular-categories .grid-container {
    grid-template-areas: "one three three" "two four five";
  }
}
@media only screen and (min-width: 1024px) {
  body main .popular-categories .grid-container {
    grid-template-areas: "one two three" "four four three" "four four five";
  }
}
body main .reviews .grid-container {
  margin-top: 2rem;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 20rem;
  gap: 1rem;
  overflow-x: scroll;
}
body main .reviews .grid-container .review-article {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 1px solid #d1d5db;
  border-radius: 2rem;
  padding: 1rem;
  background-color: #f3f4f6;
}
body main .reviews .grid-container .review-article .profile-figure {
  width: min(7.5rem, 100%);
  border-radius: 100vh;
  margin-bottom: 0.5rem;
}
body main .reviews .grid-container .review-article .profile-figure img {
  aspect-ratio: 1;
  border-radius: 100vh;
}
body main .checkout-header {
  text-align: center;
}
body main .checkout-section {
  border: 1px solid #d1d5db;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 1rem;
}
@media only screen and (min-width: 475px) {
  body main .checkout-section {
    padding: 2rem;
  }
  body main .checkout-section h2 {
    font-size: 2rem;
  }
}
body main .checkout-wrapper {
  width: min(47.5rem, 100%);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
body main .shopping-bag .shopping-card {
  margin-block: 1rem;
}
@media only screen and (min-width: 640px) {
  body main .shopping-bag .shopping-card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-block: auto;
  }
}
body main .shopping-bag .shopping-card .shopping-image {
  width: min(13rem, 100%);
  background-color: red;
}
@media only screen and (min-width: 640px) {
  body main .shopping-bag .shopping-card .shopping-image {
    width: min(15rem, 100%);
  }
}
body main .shopping-bag .shopping-card .shopping-image img {
  aspect-ratio: 1;
}
body main .shopping-bag .shopping-card .shopping-form {
  margin-block: 3rem;
  margin-left: 2rem;
}
@media only screen and (min-width: 640px) {
  body main .shopping-bag .shopping-card .shopping-form {
    margin-block: auto;
  }
}
body main .shopping-bag .shopping-card .shopping-form .shopping-label {
  display: inline-block;
  margin-top: 2rem;
}
body main .shopping-bag .shopping-card .shopping-form .shopping-label .size-label {
  margin-right: 0.5rem;
}
body main .shopping-bag .shopping-card .shopping-form .size-dropdown {
  display: inline-block;
  font-size: 1rem;
  width: min(3.5rem, 100%);
  padding: 0.5rem;
  min-height: 3rem;
  border: none;
  border-radius: 0;
  background-color: #d1d5db;
  color: #262626;
  cursor: pointer;
}
@media only screen and (min-width: 475px) {
  body main .shopping-bag .shopping-card .shopping-form .size-dropdown {
    width: min(4rem, 100%);
  }
}
body main .shopping-bag .shopping-card .shopping-form input {
  display: inline-block;
  border: 1px solid #d1d5db;
  font-size: 1rem;
  width: min(3.5rem, 100%);
  padding: 0.5rem;
  min-height: 3rem;
  background-color: #f8fafc;
  color: #262626;
  cursor: pointer;
}
@media only screen and (min-width: 475px) {
  body main .shopping-bag .shopping-card .shopping-form input {
    width: min(4rem, 100%);
  }
}
body main .shopping-bag .shopping-card .shopping-icons {
  margin-left: 2rem;
}
@media only screen and (min-width: 640px) {
  body main .shopping-bag .shopping-card .shopping-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 6rem;
  }
}
body main .personal-info .personal-info-form .personal-delivery-address {
  display: grid;
  grid-template-columns: 1fr;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  margin-top: 2.5rem;
}
@media only screen and (min-width: 640px) {
  body main .personal-info .personal-info-form .personal-delivery-address {
    grid-template-columns: repeat(2, 1fr);
  }
}
body main .personal-info .personal-info-form .personal-delivery-address input {
  display: inline-block;
  border: 1px solid #d1d5db;
  font-size: 1rem;
  width: 100%;
  padding: 0.5rem;
  min-height: 3rem;
  background-color: #f8fafc;
  color: #262626;
  cursor: pointer;
}
@media only screen and (min-width: 640px) {
  body main .personal-info .personal-info-form .personal-delivery-address .personal-label:nth-of-type(3) {
    grid-column: span 2;
  }
}
body main .personal-info .personal-info-form .personal-contact-info {
  display: grid;
  grid-template-columns: 1fr;
  margin-block: 5rem 2.5rem;
}
body main .personal-info .personal-info-form .personal-contact-info input {
  display: inline-block;
  border: 1px solid #d1d5db;
  font-size: 1rem;
  width: 100%;
  padding: 0.5rem;
  min-height: 3rem;
  background-color: #f8fafc;
  color: #262626;
  cursor: pointer;
}
body main .personal-info .personal-info-form .contact-submit {
  display: inline-block;
  border: 1px solid #262626;
  font-size: 1rem;
  width: 100%;
  padding: 0.5rem;
  min-height: 3rem;
  background-color: #262626;
  color: #f8fafc;
  cursor: pointer;
  text-align: center;
  margin-bottom: 1.5rem;
}
body main .personal-info .personal-info-form .cancel-button {
  width: 100%;
  border: none;
  background: none;
  text-decoration: underline;
  color: #0000EE;
}
body main .delivery .delivery-options {
  display: grid;
  gap: 1rem;
}
body main .delivery .delivery-options legend {
  font-weight: bold;
  margin-bottom: 1rem;
}
body main .delivery .delivery-options .delivery-label {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr;
  grid-template-areas: "one" "two" "three" "four";
  border: 1px solid #d1d5db;
  padding: 1rem;
}
@media only screen and (min-width: 640px) {
  body main .delivery .delivery-options .delivery-label {
    grid-template-areas: "one three" "two two" "four four";
  }
}
body main .delivery .delivery-options .delivery-label span:nth-of-type(1) {
  grid-area: one;
}
body main .delivery .delivery-options .delivery-label span:nth-of-type(2) {
  grid-area: two;
}
body main .delivery .delivery-options .delivery-label span:nth-of-type(3) {
  grid-area: three;
}
body main .delivery .delivery-options .delivery-label span:nth-of-type(4) {
  grid-area: four;
}
body main .delivery .delivery-options .delivery-label .delivery-time {
  font-weight: bold;
  color: #6b7280;
}
body main .payment .payment-options {
  border-bottom: 1px solid #d1d5db;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  display: grid;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  grid-template-columns: 1fr;
}
body main .payment .payment-options input {
  display: inline-block;
  border: 1px solid #d1d5db;
  font-size: 1rem;
  width: 100%;
  padding: 0.5rem;
  min-height: 3rem;
  background-color: #f8fafc;
  color: #262626;
  cursor: pointer;
}
@media only screen and (min-width: 640px) {
  body main .payment .payment-options {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 640px) {
  body main .payment .payment-options .payment-label:nth-of-type(1) {
    grid-column: span 2;
  }
}
body main .payment .payment-options legend {
  font-weight: bold;
}
body main .payment .center-text {
  text-align: center;
  margin-block: 0.5rem;
}
body main .payment .payment-amount {
  font-size: 2rem;
  font-weight: bold;
}
body main .payment .payment-submit {
  display: inline-block;
  border: 1px solid #262626;
  font-size: 1rem;
  width: 100%;
  padding: 0.5rem;
  min-height: 3rem;
  background-color: #262626;
  color: #f8fafc;
  cursor: pointer;
  text-align: center;
  margin-block: 0.5rem;
}
body main .payment .privacy-options {
  padding-inline: 1rem;
  margin-top: 1.5rem;
  display: grid;
  text-align: center;
}
body main .payment .privacy-options legend {
  margin-bottom: 1.5rem;
}
body main .product-breadcrumb {
  display: flex;
  gap: 1rem;
  margin-block: 2rem 1rem;
}
body main .product-grid-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  align-items: start;
}
@media only screen and (min-width: 640px) {
  body main .product-grid-container {
    grid-template-columns: minmax(0, 45rem) 1fr;
  }
}
body main .product-grid-container img {
  min-height: 100%;
  aspect-ratio: 1;
}
body main .product-grid-container .product-gallery {
  display: grid;
  row-gap: 1rem;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
  grid-auto-columns: 1fr;
  grid-template-areas: "one four four" "two four four" "three four four";
}
body main .product-grid-container .product-gallery img:nth-of-type(1) {
  grid-area: one;
}
body main .product-grid-container .product-gallery img:nth-of-type(2) {
  grid-area: two;
}
body main .product-grid-container .product-gallery img:nth-of-type(3) {
  grid-area: three;
}
body main .product-grid-container .product-gallery img:nth-of-type(4) {
  grid-area: four;
}
body main .product-grid-container .product-info {
  display: grid;
}
body main .product-grid-container .product-info h2 {
  margin-block: 1rem;
}
body main .product-grid-container .product-info .product-form-container .product-info {
  display: grid;
  gap: 0.5rem;
}
body main .product-grid-container .product-info .product-form-container .product-options {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr auto;
  margin-block: 3rem;
}
body main .product-grid-container .product-info .product-form-container .product-options .size-dropdown {
  display: inline-block;
  font-size: 1rem;
  width: 100%;
  padding: 0.5rem;
  min-height: 3rem;
  border: 1px solid #6b7280;
  border-radius: 0.25rem;
  background-color: #d1d5db;
  color: #262626;
  cursor: pointer;
  grid-column: span 2;
}
body main .product-grid-container .product-info .product-form-container .product-options .product-submit {
  display: inline-block;
  border: 1px solid #262626;
  font-size: 1rem;
  width: 100%;
  padding: 0.5rem;
  min-height: 3rem;
  background-color: #262626;
  color: #f8fafc;
  cursor: pointer;
  text-align: center;
}
body main .product-grid-container .product-info .product-form-container .product-options .favorite-product {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  border: 1px solid #262626;
  border-radius: 0;
  padding: 0.5rem 1rem;
  min-height: 3rem;
  background-color: #f8fafc;
  color: #262626;
  cursor: pointer;
  text-align: center;
}
body main .product-grid-container .product-info .product-form-container .product-options .favorite-product:hover {
  background: #d1d5db;
}
body main .product-grid-container .product-info details {
  border-top: 2px solid #262626;
  padding: 2rem;
}
body main .product-grid-container .product-info details[open] > summary {
  margin-bottom: 2rem;
}
body main .product-grid-container .product-info details summary {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
body main .product-grid-container .product-info details .center-list {
  text-align: center;
}
body main .product-grid-container .product-info details .center-list ul {
  display: inline-block;
  text-align: start;
}
body main .product-grid-container .product-info details .center-list li {
  list-style: outside;
}
body main .product-grid-container .product-info details table {
  margin-top: 1rem;
}
body aside {
  grid-area: aside;
}
body footer {
  grid-area: footer;
  display: grid;
  gap: 2rem 1rem;
  grid-auto-columns: 1fr;
  grid-template-areas: "one" "two" "three" "four";
  border-top: 3px solid #d1d5db;
  padding-top: 2.5rem;
}
body footer h2, body footer h3 {
  margin-bottom: 1rem;
}
body footer .logo-header {
  font-size: 1.5rem;
}
body footer section:nth-of-type(1) {
  grid-area: one;
}
body footer section:nth-of-type(2) {
  grid-area: two;
}
body footer section:nth-of-type(3) {
  grid-area: three;
}
body footer section:nth-of-type(4) {
  grid-area: four;
}
body footer section:nth-of-type(4) .social-media-links {
  display: flex;
  gap: 1.75rem;
}
@media only screen and (min-width: 475px) {
  body footer section:nth-of-type(3) {
    justify-self: end;
  }
}
@media only screen and (min-width: 768px) {
  body footer section:nth-of-type(4) {
    justify-self: end;
  }
}
@media only screen and (min-width: 475px) {
  body footer {
    grid-template-areas: "one one one" "two two three" "four four four";
  }
}
@media only screen and (min-width: 768px) {
  body footer {
    grid-template-areas: "one one one" "two three four";
  }
}/*# sourceMappingURL=style.css.map */