@mixin categories-image($image-url) {
    &::after {
        content: "";
        position: absolute;
        z-index: -1;
        inset: 0;
        background-image: url($image-url);
        background-size: cover;
        background-position: center;
        border-radius: 2rem;
        opacity: 0.7;
    }
}

@mixin banner-image($image-url, $color) {
    background-color: $color;
    background-image: url($image-url);
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten;
    display: block;
}

@mixin banner-text($text-align, $margin-inline) {
    text-align: $text-align;

    h2, p {
        max-width: 40ch;
        margin-inline: $margin-inline;
    }
}

@mixin button($padding: 0.5rem 1rem, $bg-color: $white, $text-color: $black, $border-radius: 0, $border: none, $min-height: 3rem) {
    display: inline-block;
    text-align: center;
    text-decoration: none;

    font-size: 1rem;
    border: $border;
    border-radius: $border-radius;
    padding: $padding;
    min-height: $min-height;

    background-color: $bg-color;
    color: $text-color;
    cursor: pointer;

    &:hover {
        background: $gray;
    }
}

@mixin dropdown($width: auto, $min-height: 3rem, $border: none, $border-radius: 0) {
    display: inline-block;
    font-size: 1rem;
    width: $width;
    padding: 0.5rem;
    min-height: $min-height;
    
    border: $border;
    border-radius: $border-radius;
    background-color: $gray;
    color: $black;            
    cursor: pointer;
}

@mixin input($width: 100%, $min-height: 3rem, $bg-color: $white, $text-color: $black, $border-color: $gray) {
    display: inline-block;
    border: 1px solid $border-color;
    font-size: 1rem;
    width: $width;
    padding: 0.5rem;
    min-height: $min-height;

    background-color: $bg-color;
    color: $text-color;
    cursor: pointer;
}