@mixin categories-image($image-url) {
    &::after {
        content: "";
        position: absolute;
        z-index: -1;
        inset: 0;
        background-image: url($image-url);
        background-size: cover;
        background-position: center;
        border-radius: 2rem;
        opacity: 0.7;
    }
}

@mixin banner-image($image-url, $color) {
    background-color: $color;
    background-image: url($image-url);
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten;
    display: block;
}

@mixin banner-text($text-align, $margin-inline) {
    text-align: $text-align;

    h2, p {
        max-width: 40ch;
        margin-inline: $margin-inline;
    }
}

@mixin button($padding: 0.5rem 1rem, $bg-color: $white, $text-color: $black, $border: none, $border-radius: 0, $min-height: 3rem, $hover-color: $gray, $font-size: 1rem) {
    display: inline-block;
    text-align: center;
    text-decoration: none;

    font-size: $font-size;
    border: $border;
    border-radius: $border-radius;
    padding: $padding;
    min-height: $min-height;

    background-color: $bg-color;
    color: $text-color;
    cursor: pointer;

    &:hover {
        background: $hover-color;
    }
}

@mixin dropdown($width: auto, $min-height: 3rem, $border: none, $border-radius: 0) {
    display: inline-block;
    font-size: 1rem;
    width: $width;
    padding: 0.5rem;
    min-height: $min-height;
    
    border: $border;
    border-radius: $border-radius;
    background-color: $gray;
    color: $black;            
    cursor: pointer;
}

@mixin input($padding: 0.5rem, $width: 100%, $min-height: 3rem, $bg-color: $white, $text-color: $black, $border-color: $gray, $border-radius: 0) {
    display: inline-block;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    font-size: 1rem;
    width: $width;
    padding: $padding;
    min-height: $min-height;

    background-color: $bg-color;
    color: $text-color;
}

@mixin product-cards($justify-content: center, $align-items: center, $flex-wrap: wrap, $width: min(22rem, 100%), $flex: 1 0 auto) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-wrap: $flex-wrap;
    column-gap: 1rem;
    row-gap: 3rem;

    figure {
        width: $width;
        display: grid;
        gap: 1rem;
        flex: $flex;
        position: relative;

        .favorite-heart {
            @include button($padding: 0, $min-height: 2.75rem, $border-radius: 100vh, $bg-color: rgba($white, 0.6), $text-color: $white, $hover-color: $red, $font-size: 1.25rem);
            position: absolute;
            top: 0;
            right: 0;
            margin: 1rem;
            min-width: 2.75rem;
            
            display: flex;
            justify-content: center;
            align-items: center;
        }

        img {
            aspect-ratio: 1;
            border-radius: 1.5rem;
        }

        figcaption {
            display: grid;
            gap: 2rem;
            grid-template-columns: repeat(2, 1fr);
        }

        .product-card-cost {
            justify-self: end;
        }

        .product-card-reviews {
            grid-column: span 2;
        }
    }
}