$xs: 475px; //mobile
$sm: 640px; //small devices
$md: 768px; //tablets
$lg: 1054px; //laptops
$xl: 1280px; //desktop computers
$xxl: 1536px; //tvs

@mixin xs {
    @media only screen and (min-width:$xs) {
        @content;
    }
}

@mixin sm {
    @media only screen and (min-width:$sm) {
        @content;
    }
}

@mixin md {
    @media only screen and (min-width:$md) {
        @content;
    }
}

@mixin lg {
    @media only screen and (min-width:$lg) {
        @content;
    }
}

@mixin xl {
    @media only screen and (min-width:$xl) {
        @content;
    }
}

@mixin xxl {
    @media only screen and (min-width:$xxl) {
        @content;
    }
}