*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    line-height: calc(1em + 0.5rem);
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

input, textarea, button, select {
    font: inherit;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

li {
    list-style: none;
}

p, li {
    text-wrap: pretty;
}

a {
    text-decoration: none;
}

body {
    min-height: 100vh;
}

fieldset {
    border: none;
}