@import "../sass/resets";
@import "../sass/colors";
@import "../sass/media-queries";
@import "../sass/assets";

body {
    font-family: "Roboto", sans-serif;
    background-color: $background-white;

    display: grid;
    row-gap: 1rem;
    grid-auto-columns: 1fr;
    grid-template-areas:
    "header header header"
    "main main main"
    "aside aside aside"
    "footer footer footer";

    width: min(75rem, 100% - 1rem);
    margin-inline: auto;
    margin-block: 2rem;

    a {
        color: $black;
    }

    .space-right {
        margin-right: 1rem;
    }

    .next-link {
        color: $link-purple;
    }

    .review-article {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        border: 1px solid $gray;
        border-radius: 1.5rem;
        padding: 1rem;
        background-color: $light-gray;
    }

    @include sm {
        h2 {
            font-size: 2rem;
        }
    }

    header {
        grid-area: header;

        h1 {
            font-size: 2.5rem;
            margin-inline: 2rem;
        }
    
        .header-nav {
            text-align: center;
            @include flex-center();
            flex-direction: column;
            flex-wrap: wrap;
            justify-items: center;
            gap: 1rem;

            @include sm {
                flex-direction: row;
            }

            .search-bar {
                text-align: center;
                @include flex-center();

                width: min(16rem, 100%);
                border: 1px solid $black;
                border-radius: 100vh;
                padding: 0.1rem 0.5rem;
                background-color: $white;
        
                .search-input {
                    display: inline-block;
                    border: none;
                    border-radius: 100vh;
                    outline: none;
                    width: 100%;
                    padding: 0.1rem 0.5rem;
                    margin-right: auto;
                    background-color: $white;
                }
        
                .search-submit {
                    display: inline-block;
                    border: none;
                    border-radius: 100vh;
                    background: none;
                    background-color: $white;
                    cursor: pointer;
                    padding: 0.1rem 0.5rem;
                    margin-left: auto;
                }
            }
        
            .nav-list {
                @include flex-center();
                gap: 1rem;

                &:nth-of-type(1), &:nth-of-type(2) {
                    flex-direction: column;
                }

                @include sm {
                    &:nth-of-type(1), &:nth-of-type(2) {
                        flex-direction: row;
                    }
                }

                @include md {
                    &:nth-of-type(1), &:nth-of-type(3) {
                        margin-left: auto;
                    }
                }
            }
        }
    }

    main {
        grid-area: main;
        
        h2 {
            margin-block: 1.5rem;
        }

        .front-section {
            margin-block: 2.5rem;
        }

        //INDEX CSS
        .main-banner-area {
            position: relative;

            .slider-button {
                @include button($padding: 0, $min-height: 3rem, $border-radius: 100vh, $bg-color: rgba($white, 0.6));
                position: absolute;
                top: 50%;
                min-width: 3rem;

                &:nth-of-type(1) {
                    left: 1rem;
                }

                &:nth-of-type(2) {
                    right: 1rem;
                }
            }

            .banner-grid-container {
                .banner {
                    padding-block: 10rem;
                    padding-inline: 2rem;
                    margin-block: 0;
                    border-radius: 1.5rem;
                    display: none;
    
                    &:nth-of-type(1) {
                        @include banner-image("../images/sunset.jpg", $dark-purple);
                        @include banner-text(end, auto 0);
                    }
        
                    button {
                        @include button($border-radius: 100vh);
                        margin-top: 1rem;
                    }
        
                    @include sm {
                        margin-top: 2.5rem;
    
                        &:nth-of-type(2) {
                            @include banner-image("../images/landscape.jpg", $dark-brown);
                            @include banner-text(start, 0 auto);
                        }
        
                        &:nth-of-type(3) {
                            @include banner-image("../images/sand.jpg", $dark-blue);
                            @include banner-text(start, 0 auto);
                        }
                    }
                }
    
                @include sm {
                    display: grid;
                    grid-auto-flow: column;
                    grid-auto-columns: 100%;
                    gap: 1rem;
                    overflow-x: scroll;
                }
            }
        }

        .popular-products {

            & > *:not(:last-child) {
                text-align: center;
            }

            .products-filter {
                @include flex-center();
                flex-wrap: wrap;
                gap: 1rem;
                margin-block: 2rem;

                .product-button {
                    @include input($padding: 0.5rem 2rem, $bg-color: $black, $text-color: $white, $border-color: $black, $border-radius: 100vh);
                    cursor: pointer;
                }

                .filter-button {
                    @include button($padding: 0.5rem 2rem, $border: 1px solid $black, $border-radius: 100vh);
                }
            }

            .product-card-container {
                @include product-cards();
                margin-block: 5rem;
            }
        }

        .popular-categories {
            & > *:not(:last-child) {
                text-align: center;
            }

            .grid-container {
                margin-top: 3rem;
                display: grid;
                gap: 1rem;
                grid-auto-columns: 1fr;
                grid-auto-rows: 1fr;
                grid-template-areas:
                "one"
                "two"
                "three"
                "four"
                "five";

                .categories-article {
                    position: relative;
                    @include flex-center();

                    padding-block: 8rem;
    
                    &:nth-of-type(1) {
                        grid-area: one;
                        @include categories-image("../images/Blurred_category1.png");
                    }
    
                    &:nth-of-type(2) {
                        grid-area: two;
                        @include categories-image("../images/Blurred_category2.png");
                    }
    
                    &:nth-of-type(3) {
                        grid-area: three;
                        @include categories-image("../images/Blurred_category3.png");
                    }
    
                    &:nth-of-type(4) {
                        grid-area: four;
                        @include categories-image("../images/Blurred_category4.png");
                    }
    
                    &:nth-of-type(5) {
                        grid-area: five;
                        @include categories-image("../images/Blurred_category5.png");
                    }

                    h3 {
                        color: $white;
                    }
                }

                @include md {
                    grid-template-areas:
                    "one three three"
                    "two four five";
                }

                @include lg {
                    grid-template-areas:
                    "one two three"
                    "four four three"
                    "four four five";
                }
            }
        }

        .reviews {
            .grid-container {
                margin-top: 2rem;
                display: grid;
                grid-auto-flow: column;
                grid-auto-columns: 20rem;
                gap: 1rem;
                overflow-x: scroll;

                .review-article {
    
                    .profile-figure {
                        width: min(9.375rem, 100%);
                        border-radius: 100vh;
                        margin-bottom: 0.5rem;
    
                        img {
                            aspect-ratio: 1;
                            border-radius: 100vh;
                        }
                    }
                }
            }
        }

        //CHECKOUT CSS
        .checkout-header {
            text-align: center;
        }

        .checkout-section {
            border: 1px solid $gray;
            padding: 2rem 1rem;
            @include flex-center();
            margin-block: 1rem;

            @include xs {
                padding: 2rem;
            }
        }

        .checkout-wrapper {
            width: min(47.5rem, 100%);
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        .shopping-bag {
            .shopping-card {
                width: 100%;
                margin-block: 1rem;

                @include sm {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 1rem;
                    margin-block: auto;
                }

                .shopping-image {
                    width: min(13rem, 100%);

                    @include sm {
                        width: min(15rem, 100%);
                    }
            
                    img {
                        width: 100%;
                        aspect-ratio: 1;
                    }
                }

                .shopping-form {
                    margin-block: 3rem;
                    margin-left: 2rem;

                    @include sm {
                        margin-block: auto;
                    }

                    .shopping-label {
                        display: inline-block;
                        margin-top: 2rem;

                        .size-label {
                            margin-right: 0.5rem;
                        }
                    }

                    .size-dropdown {
                        @include dropdown($width: min(3.5rem, 100%));

                        @include xs {
                            width: min(4rem, 100%);
                        } 
                    }
        
                    input {
                        @include input($width: min(3.5rem, 100%));

                        @include xs {
                            width: min(4rem, 100%);
                        } 
                    }
                }

                .shopping-icons {
                    margin-left: 2rem;

                    @include sm {
                        @include flex-center();
                        flex-direction: column;
                        gap: 1rem;
                        margin-bottom: 6rem;
                    }
                }
            }
        }

        .personal-info {
            .personal-info-form {
                .personal-delivery-address {
                    display: grid;
                    grid-template-columns: 1fr;
                    column-gap: 0.5rem;

                    margin-top: 2.5rem;

                    @include sm {
                        grid-template-columns: repeat(2, 1fr);
                    }

                    input {
                        @include input();
                    }

                    .personal-label {
                        &:nth-of-type(3) {
                            @include sm {
                                grid-column: span 2;
                            }
                        }
                    }
                }

                .personal-contact-info {
                    display: grid;
                    grid-template-columns: 1fr;

                    margin-block: 5rem 2.5rem;

                    input {
                        @include input();
                    }
                }

                .contact-submit {
                    @include input($bg-color: $black, $text-color: $white, $border-color: $black);
                    text-align: center;
                    margin-bottom: 1.5rem;
                }

                .cancel-button {
                    width: 100%;
                    border: none;
                    background: none;
                    text-decoration: underline;
                    color: $link-blue;
                }
            }
        }

        .delivery {
            .delivery-options {
                display: grid;
                gap: 1rem;

                legend {
                    font-weight: bold;
                    margin-bottom: 1rem;
                }

                .delivery-label {
                    display: grid;
                    gap: 0.5rem;
                    grid-template-columns: 1fr;
                    grid-template-areas:
                    "one"
                    "two"
                    "three"
                    "four";
    
                    border: 1px solid $gray;
                    padding: 1rem;

                    @include sm {
                        grid-template-areas:
                        "one three"
                        "two two"
                        "four four";
                    }
    
                    span {
                        &:nth-of-type(1) {
                            grid-area: one;
                        }
    
                        &:nth-of-type(2) {
                            grid-area: two;
                        }
    
                        &:nth-of-type(3) {
                            grid-area: three;
                        }
    
                        &:nth-of-type(4) {
                            grid-area: four;
                        }
                    }

                    .delivery-time {
                        font-weight: bold;
                        color: $dark-gray;
                    }
                }
            }
        }

        .payment {
            .payment-options {
                border-bottom: 1px solid $gray;
                padding-bottom: 2rem;
                margin-bottom: 2rem;
                display: grid;
                column-gap: 0.5rem;
                grid-template-columns: 1fr;

                input {
                    @include input();
                }

                @include sm {
                    grid-template-columns: repeat(2, 1fr);
                }

                .payment-label {
                    &:nth-of-type(1) {
                        @include sm {
                            grid-column: span 2;
                        }
                    }
                }

                legend {
                    font-weight: bold;
                }
            }

            .center-text {
                text-align: center;
                margin-block: 0.5rem;
            }

            .payment-amount {
                font-size: 2rem;
                font-weight: bold;
            }

            .payment-submit {
                @include input($bg-color: $black, $text-color: $white, $border-color: $black);
                text-align: center;
                margin-block: 0.5rem;
            }

            .privacy-options {
                padding-inline: 1rem;
                margin-top: 1.5rem;
                display: grid;
                text-align: center;

                legend {
                    margin-bottom: 1.5rem;
                }
            }
        }

        //PRODUCT CSS
        .product-breadcrumb {
            display: flex;
            gap: 1rem;
            margin-block: 2rem 1rem;
        }

        .product-grid-container {
            display: grid;
            gap: 1rem;
            grid-template-columns: 1fr;
            align-items: start;
            
            @include lg {
                grid-template-columns: minmax(0, 45rem) 1fr;
            }

            img {
                min-height: 100%;
                aspect-ratio: 1;
            }

            .product-gallery {
                display: grid;
                row-gap: 1rem;
                column-gap: 1.5rem;
                grid-auto-columns: 1fr;
                grid-template-areas:
                "one four four"
                "two four four"
                "three four four";

                img {
                    &:nth-of-type(1) {
                        grid-area: one;
                    }

                    &:nth-of-type(2) {
                        grid-area: two;
                    }

                    &:nth-of-type(3) {
                        grid-area: three;
                    }

                    &:nth-of-type(4) {
                        grid-area: four;
                    }
                }
            }

            .product-info {
                display: grid;

                h2 {
                    margin-block: 1rem;
                }

                .star-reviews {
                    display: flex;
                    gap: 0.25rem;
                }

                .product-form-container {
                    .product-info {
                        display: grid;
                        gap: 0.5rem;
                    }

                    .product-options {
                        display: grid;
                        gap: 1rem;
                        grid-template-columns: 1fr auto;
                        margin-block: 3rem;

                        .size-dropdown {
                            @include dropdown($width: 100%, $border: 1px solid $dark-gray, $border-radius: 0.25rem);
                            grid-column: span 2;
                        }

                        .product-submit {
                            @include input($bg-color: $black, $text-color: $white, $border-color: $black);
                            text-align: center;
                        }

                        .favorite-product {
                            @include button($border: 1px solid $black);
                        }
                    }
                }

                details {
                    border-top: 2px solid $black;
                    padding: 2rem;

                    &[open] > summary {
                        margin-bottom: 2rem;
                    }

                    summary {
                        list-style: none;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        gap: 1rem;
                    }

                    .center-list {
                        text-align: center;

                        ul {
                            display: inline-block;
                            text-align: start;
                        }    

                        li {
                            list-style: outside;
                        }
                    }

                    table {
                        margin-top: 1rem;
                    }
                }
            }
        }
    }

    aside {
        grid-area: aside;
        margin-block: 2rem;

        .similar-products {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
            

            .next-link {
                text-align: end;
            }

            .product-card-container {
                @include product-cards($justify-content: flex-start, $flex-wrap: nowrap, $width: min(16.75rem, 100%), $flex: 0 0 auto);
                margin-top: 2rem;
                overflow-x: scroll;
                grid-column: span 2;
            }
        }
    }
    
    footer {
        grid-area: footer;
        display: grid;
        gap: 2rem 1rem;
        grid-auto-columns: 1fr;
        grid-template-areas:
        "one"
        "two"
        "three"
        "four";

        border-top: 3px solid $gray;
        padding-block: 2.5rem 5rem;

        h2, h3 {
            margin-bottom: 1rem;
        }

        .logo-header {
            font-size: 1.5rem;
        }

        section {
            &:nth-of-type(1) {
                grid-area: one;
            }

            &:nth-of-type(2) {
                grid-area: two;
            }

            &:nth-of-type(3) {
                grid-area: three;
            }

            &:nth-of-type(4) {
                grid-area: four;

                .social-media-links {
                    display: flex;
                    gap: 1.75rem;
                }
            }
            
            @include xs {
                &:nth-of-type(3) {
                    justify-self: end;
                }
            }

            @include md {

                &:nth-of-type(4) {
                    justify-self: end;
                }
            }
        }

        @include xs {
            grid-template-areas:
            "one one one"
            "two two three"
            "four four four";
        }

        @include md {
            grid-template-areas:
            "one one one"
            "two three four";
        }
    }
}